@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .project-title-font-size {
    @apply font-bold text-[6vh] md:text-[4vw] md:leading-[4.5vw] lg:text-[6vw] lg:leading-[6.5vw];
  }
}